*.terraform*
*.out
kube-config*
kube_config*
sp.auto.tfvars
auto.tfvars
*.bak
*_output
acr-tf
chart
*_path
*.tfstate.*
terraform.tfstate.backup
terraform.tfstate
terraform.tfstate.backup.*
.idea
ssh_keys
ssh_keys/*
*.pub
*.pem
.terraform
.terraform.lock.hcl
*.auto.tfvars
credentials.json